.root {
  scrollbar-color: var(--color-gray-200) transparent;
  scrollbar-width: thin;
}

.root::-webkit-scrollbar-track {
  background-color: transparent;
}

.root::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: transparent;
}

.root::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-200);
}
