.main {
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid var(--color-gray-200);
  background: var(--color-base-white);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.header-section {
  padding: var(--spacing-4xl, 32px) 0;
}

.title {
  color: light-dark(var(--color-gray-900), var(--color-gray-100));
  font: var(--font-display-sm-semibold);
  padding-inline: 16px;
}

.board {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-inline: 16px;
  overflow-x: auto; /* Добавляем горизонтальный скролл */
  padding-bottom: 16px; /* Небольшой отступ снизу для удобства прокрутки */
}

.column {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  gap: 16px;
  flex-shrink: 0;
  max-width: 320px; /* Минимальная ширина колонки */
  width: 100%;
  border-radius: 16px;
  border: 1px solid light-dark(var(--color-gray-100), var(--color-gray-900));
  background: light-dark(var(--color-gray-25, #fcfcfd), var(--color-gray-900));
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.column-title {
  color: light-dark(var(--color-gray-900), var(--color-gray-100));
  font: var(--font-text-lg-bold);
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid light-dark(var(--color-gray-200, #eaecf0), var(--color-gray-700));
  background: light-dark(var(--color-base-white, #fff), var(--color-gray-700));
  width: 100%;
  margin-bottom: 16px;

  button {
    background-color: transparent;
    border: 0;
  }
}

.item.dragging {
  box-shadow: 0 2px 8px 0 rgba(16, 24, 40, 0.05);
}

.item-text {
  color: light-dark(var(--color-gray-600), var(--color-gray-300));
  font: var(--font-text-md-regular);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 640px) {
  .column {
    max-width: 360px;
  }
}
